body {
 font-size: 14px;
 font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
 background: #000 url('/images/backgrounds/register/1.png');
 color: #FFF;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  padding-top: 0.5em;
}

span.pre {
 font-family: monospace;
 display: inline;
}

div#content {
 position: absolute;
 background: rgba(0,0,0,0.2) url('/images/ByVLNWz.png') no-repeat right -15px;
 width: 800px;
 height: 600px;
 top: 50%;
 left: 50%;
 margin-top: -300px;
 margin-left: -400px;
}

div#motd {
 width: 360px;
 height: 150px;
 position: absolute;
 bottom:20px;
 left:40px;
}

div#actions {
  width: 320px;
  height: 125px;
  position: absolute;
  bottom: 20px;
  right: 40px;
}

span.challenge {
  margin-top: 0.3em;
  margin-bottom: 1em;
}

input {
 font-family: monospace;
 font-size: 1em;
 border-radius: 15px;
 border: 0px;
 background: rgba(0,0,0,0.5);
 color: white;
 padding: 8px;
 margin-bottom: 0.3em;
 margin-top: 0.3em;
 width: 182px;
}


input[type=submit] {
 background: rgba(0,0,0,0.6);
 cursor: pointer;
 width: 200px;
 padding: 4px;
}

input[type=submit]:active {
 background: rgba(0,0,0,0.4);
 margin-left:1px;
 cursor: pointer;
 width: 200px;
 padding: 4px;
}


label {
 font-family: monospace;
 text-align: center;
 display: block;
 width: 100%;
}

label.error {
 color: #F00;
}

label.ok {
 color: #0F0;
}

span.center {
  display: block;
  text-align: center;
}

a, a:visited, a:active {
  color: white;
}

p {
  margin-top: 1em;
  line-height: 1.2em;
}

div#actions form {
  position: absolute;
  width: 100%;
  top: 0;
}

div#languagebar {
  position: absolute;
  padding: 8px;
  height: 14px;
  background: rgba(0,0,0,0.2);
  bottom: -30px;
  right: 0;
}

a.i18n {
 padding-left: 20px;
 text-decoration: none;
}

a.i18n:hover {
  border-bottom: 1px solid #fff;
}

a[data-lang=pt_PT] {
 background: url('/images/icons/PT.png') no-repeat left center;
}

a[data-lang=en_GB] {
 background: url('/images/icons/GB.png') no-repeat left center;
}
