RewriteEngine On

RewriteRule ^images/(.*)$ /public/images/$1 [NC,L]
RewriteRule ^js/(.*)$ /public/js/$1 [NC,L]
RewriteRule ^css/(.*)$ /public/css/$1 [NC,L]
RewriteRule ^fonts/(.*)$ /public/fonts/$1 [NC,L]
RewriteRule ^sounds/(.*)$ /public/sounds/$1 [NC,L]

RewriteRule ^assets/(.*)$ /index.php [NC,L]
RewriteRule ^controllers/(.*)$ /index.php [NC,L]
RewriteRule ^defaults/(.*)$ /index.php [NC,L]
RewriteRule ^helpers/(.*)$ /index.php [NC,L]
RewriteRule ^init/(.*)$ /index.php [NC,L]
RewriteRule ^lib/(.*)$ /index.php [NC,L]
RewriteRule ^models/(.*)$ /index.php [NC,L]
RewriteRule ^node_modules/(.*)$ /index.php [NC,L]
RewriteRule ^scripts/(.*)$ /index.php [NC,L]
RewriteRule ^templates/(.*)$ /index.php [NC,L]
RewriteRule ^config\.php$ /index.php [NC,L]
RewriteRule ^package\.json$ /index.php [NC,L]
RewriteRule ^\.gulpfile.js$ /index.php [NC,L]
RewriteRule ^\.gitignore$ /index.php [NC,L]
RewriteRule ^\.gitmodules$ /index.php [NC,L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^.*$ ./index.php [QSA]
