body {
 font-size: 14px;
 font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
 background: #000 url('/images/backgrounds/login/bg1.png');
 color: #FFF;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  padding-top: 0.5em;
}
div#content {
 position: absolute;
 background: rgba(0,0,0,0.2) url('/images/logo.png') no-repeat left center;
 width: 800px;
 height: 600px;
 top: 50%;
 left: 50%;
 margin-top: -300px;
 margin-left: -400px;
}

div#motd {
 width: 240px;
 height: 300px;
 position: absolute;
 top:30px;
 right:40px;
}

div#actions {
  width: 240px;
  height: 150px;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

input {
 font-family: monospace;
 font-size: 1em;
 border-radius: 15px;
 border: 0px;
 background: rgba(0,0,0,0.2);
 color: white;
 padding: 8px;
 margin-bottom: 10px;
 width: 182px;
}


input[type=submit] {
 background: rgba(0,0,0,0.6);
 cursor: pointer;
 width: 200px;
 padding: 4px;
}

input[type=submit]:active {
 background: rgba(0,0,0,0.4);
 margin-left:1px;
 cursor: pointer;
 width: 200px;
 padding: 4px;
}


label {
 font-family: monospace;
 text-align: center;
 display: block;
 width: 100%;
}

label.error {
 color: #F00;
}

label.ok {
 color: #0F0;
}

span.center {
  display: block;
  text-align: center;
}

a, a:visited, a:active {
  color: white;
}

p {
  margin-top: 1em;
  line-height: 1.2em;
}

div#actions form {
  position: absolute;
  width: 100%;
  top: 0;
}

div#languagebar {
  position: absolute;
  padding: 8px;
  height: 14px;
  background: rgba(0,0,0,0.2);
  bottom: -30px;
  right: 0;
}

a.i18n {
 padding-left: 20px;
 text-decoration: none;
}

a.i18n:hover {
  border-bottom: 1px solid #fff;
}

a[data-lang=pt_PT] {
 background: url('/images/icons/PT.png') no-repeat left center;
}

a[data-lang=en_GB] {
 background: url('/images/icons/GB.png') no-repeat left center;
}

a.socialicon {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 36px;
  height: 36px;
}

a.socialicon[href]:active {
  background-position: 75% 75%;
}

div#social {
 width: 220px;
 height: 52px;
 background: rgba(0,0,0,0.2);
 bottom:-52px;
 left:0px;
 position: absolute;
}

div#social ul {
  margin-top: 8px;
  margin-left: 5px;
}

div#social ul li {
  float: left;
  margin-left: 5px;
}
