
span.item {
  background: url('/images/sprites.png');
  display: block;
  width: 32px;
  height: 32px;
  margin: 2px;
  float: left;
  position: relative;
}

span.item > span.amount {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-weight: bold;
}

span.item > div.damage {
  background: black;
  height: 4px;
  width: 22px;
  bottom: 1px;
  left: 1px;
  position: absolute;
}

span.item > div.damage > div {
  background: #00FF00;
  height: 2px;
  width: 20px;
}


td.enchanted {
  background: url('/images/enchanted.gif') center center !important;
}

div.inventory {
  width: 305px;
  margin: auto;
}
/*
 * http://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas
 * attempt nearest neighbour in every browser, for pixel goodness
 */
.pixels
{
  image-rendering: optimizeSpeed;       // Older versions of FF
  image-rendering: -moz-crisp-edges;      // FF 6.0+
  image-rendering: -webkit-optimize-contrast; // Webkit
                        //  (Safari now, Chrome soon)
  image-rendering: -o-crisp-edges;      // OS X & Windows Opera (12.02+)
  image-rendering: optimize-contrast;     // Possible future browsers.
  -ms-interpolation-mode: nearest-neighbor;   // IE
}



/*
 * "Online" Green Light
 */
span.online {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 5px;
}

a[data-online='true'] span.online {
  background-color: #45FF54;
  display: inline-block;
}

a:not([data-online='true']) span.online {
  display: none;
} 
