form select,
form input:not([type=checkbox]),
label {
  font-family: Consolas, monaco, monospace !important;
  width: 180px;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #333333;
  padding: 4px;
  outline: none;
}

form select,
form input:not([type=checkbox]) {
  background: rgba(255, 255, 255, 0.05);
  color: #EEEEEE;
}

label {
  background: rgba(255, 255, 255, 0.15);
  color: #AAAAAA;
}

form label {
  cursor: pointer;
}

form input[type=submit],
form input[type=reset] {
  cursor: pointer;
  width: 190px;
  background: linear-gradient(to bottom, #000000, #303030);
}

form ul li {
    margin-bottom: 5px;
}

form ul li input[type=checkbox] {
  margin-top: 5px;
}

form ul li input:not([type=checkbox]) {
  margin: auto;
}

input:hover, label.checkbox:hover {
  background: rgba(255,255,255,0.1);
}

select option {
  background: rgba(0, 0, 0, 0.8);
}

input[type=text], input[type=password] {
  outline: none;
}

input[type=text], input[type=password], label[for]:not(.input-label) { 
  display: block;
}

form[name=drop_items] select#itemid_sel {
  width: 204px;
}

form[name=drop_items] input[type=submit] {
  width: 244px
}

form[name=drop_items] input#itemid {
  width: 45px;
}

form[name=drop_items] input#itemqt, 
form[name=drop_items] input#itemaux {
  width: 30px;
}

input[type=submit], input[type=reset] {
}

input[type=checkbox] {
  cursor: pointer;
  display: inline;
  float: left;
}

input[type=submit]:active, input[type=reset]:active {
  background: linear-gradient(to bottom, #000000, #000000, #202020);
  cursor: pointer;
}

input[type="date"] {
  /*width: 70%; */
}

input[type="date"]::-webkit-inner-spin-button{
  display: none;
}

input[type="number"] {
  /* width: 60px; */
}
