body {
  background: transparent;
  color: #444;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 170%;
}

h1 {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 1em;
  color: #2d2d2d;
}

ul {
  margin-top: 1em;
}

li {
  height: 35px;
}

span.name {
  float: left;
  padding-top: 5px;
  padding-left: 5px;
}
a {
  color: #3b722b;
  text-decoration: none;
}

span.stevehead
{
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
  float: left;
}
 
div#onlineplayers span.stevehead img,
div#onlineplayers span.stevehead canvas
{
  width: 256px;
  height: 128px;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
}


