body {
  background: transparent;
  color: #444;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 170%;
}

form {
  ul {
    li {
      margin: 5px;
      width: calc(100% - 20px);
      text-align: center;
      div#status {
        margin: auto;
        margin-top: 1em;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        width: 350px;
        display: none;
      }
      div#status.error {
        border: 1px solid #860000;
        background: rgba(134, 0, 0, 0.1);
        color: #860000;
      }
      div#status.success {
        border: 1px solid #008600;
        background: rgba(0, 134, 0, 0.1);
        color: #008600;
      }
      div#waiting {
        display: none;
      }
    }

    margin-bottom: 2em;
  }
  margin: 10px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;

}

input {
  padding: 18px 15px 18px 15px;
  background: #FFF;
  border: 1px solid #DDD;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  width: calc(350px - 15px - 15px);
}

button {
  width: 85px;
  padding: 18px 0 18px 0;
  line-height: 1;
  border: none;
  background: #3b722b;
  border: 1px solid #3b722b;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-family: 'Lato', sans-serif;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  width: 350px;
}

p {
  margin-bottom: 2em;
}