/* unselectable */
* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}


div.dynmap-loading-cover {
    position: absolute;
    background: rgba(0, 0, 0, 1);
    background-image: url('/images/logo_xs.png');
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
}

div.sidebar {
    visibility: hidden !important;
}

div.dynmap-custom-controls {
    visibility: hidden;
}

div.dynmap-custom-controls,
div.overlay {
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    font-size: 12px !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

div.leaflet-bar {
    border: 0;
}

div.dynmap-custom-controls div.leaflet-control-zoom {

}

div.leaflet-control-zoom,
div.dynmap-custom-controls,
div.coord-control,
div.overlay_button {
    display: inline-block;
    clear: none;
}

div.leaflet-control-zoom a,
div.coord-control,
div.overlay_button {
    border: 1px solid #111111;
    border-radius: 0px;
    height: 28px;
    line-height: 26px;
    width: 28px;
    margin: 5px 0px 5px 5px;
    color: #FFFFFF;
    background: linear-gradient(to top, #111111, #111111, #222222);
}

div.coord-control {
    margin-right: 5px;
    width: 90px;
    height: 50px;
    line-height: 25px;
    float: right;
    padding: 5px;
}
div.coord-control span.coord-control-label,
div.coord-control span.coord-control-value {
    float: left;
}

div.largeclock {
    float: left;
    margin-left: 5px;
}

div.overlay_button {
    z-index: 20;
    position: relative;
    height: 28px;
    cursor: pointer;
    background-image: linear-gradient(to top, #111111, #111111, #222222);
}

div.overlay_button a {
    display: inline-block;
    height: 28px;
    width: 28px;
    background-image: url('//dynmap.minecraft.pt/images/sign.png');
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
}

div.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 50;
    overflow-y: scroll;
    display: none;

}

div.overlay-worlds {
    width: 33.33%;
    float: left;
}

div.overlay-players {
    width: 33.33%;
    float: left;
}

div.overlay-layers {
    width: 33.33%;
    float: left;
}

div.overlay h1 {
    font-size: 20px;
}

div.overlay ul,
div.overlay form {
    height: auto !important;
    list-style-type: none;
    padding: 0;
}

ul.worldlist > li {
    clear: both;
}

li.world > div {
    height: 25px;
    line-height: 45px;
}

ul.worldlist > li > a {
    width: 80%;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.5);
}


ul.worldlist {
    padding: 0 0 10px 0 !important;
    margin: auto;
}

ul.playerlist a {
    font-size: 10px;
}

ul.worldlist,
ul.playerlist {
    font-size: 16px;
    padding: 5px;
    text-align: center;
}

ul.maplist {
    font-size: 12px;
    position: relative;
    display: block;
    width: auto !important;
    height: auto;
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

ul.maplist li {
    background-color: transparent !important;
    text-align: center;
    display: inline-block;
    margin: 5px;
}

ul.maplist li a {
    color: #FFFFFF;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 45%;
    background-size: 80%;
    line-height: 90px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.25);
}

ul.maplist li a:active {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

ul.maplist li a:hover {
    background-color: rgba(128, 128, 128, 0.35);
}

ul.playerlist {
    margin: auto;
}

ul.playerlist li {
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    float: left;
}

ul.playerlist li img{
    width: 48px;
}

ul.playerlist li:hover {
    background-color: rgba(128, 128, 128, 0.35);
}

ul.playerlist li:active {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
}

ul.playerlist li a {
    color: #FFFFFF;

    display: block;
}


ul.playerlist li span.playerIcon {

}

ul.playerlist li img {

}

div.largeclock {
    height: 62px;
    border: 1px solid #111111;
    border-radius: 0px;
    position: relative;
    margin: 5px 0px 5px 5px;
    background: linear-gradient(to top, #111111, #111111, #222222);
}

div.compass {
    bottom: 20px;
    top: auto;
}

div.overlay-layers form {
    margin-left: 20%;
    margin-right: 20%;
}

div.overlay-layers label {
    font-family: Consolas, monaco, monospace !important;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #000000;
    padding: 4px;
    outline: none;
    display: block;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    height: 16px;
    line-height: 16px;
    margin: 5px;
}

div.overlay-layers label:hover {
    background-color: rgba(128, 128, 128, 0.35);
}

div.overlay-layers label:active {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

h1 {
    text-align: center;
}

div.overlay-layers input[type=checkbox] {
    cursor: pointer;
    display: inline;
    float: left;
}


