@import '../themes/classic';

#html-templates {
    display: none;
}

/* unselectable */
* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}

p, td, th, span {
    -moz-user-select: -moz-text;
    -khtml-user-select: text;
    -webkit-user-select: text;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: text;
    user-select: text;
}

.bg-icon {
    background-repeat: no-repeat;
    background-position: 7px center;
    padding-left: 30px;
}

div#widget-taskbar {
    background: $widget-taskbar-background;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    z-index: 1000000001;
    overflow: hidden;
    white-space: nowrap;
}

div#widget-button-home-menu {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
}

div#widget-button-admin-menu {
    position: absolute;
    left: 31px;
    bottom: 0;
    height: 30px;
}

div#widget-button-desktop-menu {
    position: absolute;
    right: 31px;
    bottom: 0;
}

div#widget-button-user-menu {
    position: absolute;
    right: 0;
    bottom: 0;
}

div#widget-button-home-menu.active,
div#widget-button-admin-menu.active,
div#widget-button-desktop-menu.active,
div#widget-button-user-menu.active {
    background: $widget-button-menu-opened;
}

div.widget-button-container-scroll {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 10px;
    cursor: pointer;
}

div.widget-button-container-scroll:hover {
    background: $widget-button-container-scroll-background;
}

div.widget-button-container-scroll:active {
    background: $widget-button-container-scroll-background-active;
}

div#widget-button-container-scroll-left {
    border-right: 1px solid $widget-button-container-scroll-border-color;
    position: absolute;
    left: 31px;
    bottom: 0;
}

div#widget-button-container-scroll-right {
    border-left: 1px solid $widget-button-container-scroll-border-color;
    border-right: 1px solid $widget-button-container-scroll-border-color;
    position: absolute;
    right: 62px;
    bottom: 0;
    height: 30px;
}

div#widget-button-container {
    position: absolute;
    left: 42px;
    right: 74px;
    bottom: 0;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
}

div.widget-menu-button {
    background: $widget-button-background;
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: $widget-button-color;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    overflow: hidden;
    border-right: $widget-button-border;
}

div.widget-menu-button:hover {
    color: $widget-button-hover-color;
    background: $widget-button-hover-background;
}

div.widget-menu-button:active {
    color: $widget-button-color-active;
    background: $widget-button-background-active;
}

div#widget-home-menu {
    left: 0px;
    height: 330px;
}

div#widget-admin-menu {
    left: 31px;
    height: 270px;
}

div#widget-user-menu {
    right: 0px;
    height: 151px;
}

div#widget-desktop-menu {
    right: 31px;
    height: 212px;
}

div.widget-menu {
     display: none;
     position: absolute;
     top: 30px;
     border: 1px solid $widget-menu-border-color;
     box-shadow: $widget-menu-box-shadow;
     background: $widget-menu-background;
     color: $widget-menu-color;
     z-index: 2000000000;
}

div.widget-menu i {
    color: $widget-menu-icon-color;
}

div.widget-menu > ul {
    width: 140px;
    float: left;
    height: 100%;
}

div.widget-menu li {
    height: 25px;
    line-height: 25px;
}

div.widget-menu li.separator {
    border-top: $widget-menu-li-separator;
}

div.widget-menu a {
    display: block;
}

div.widget-menu .bg-icon {
    background-repeat: no-repeat;
    background-position: 0 center !important;
    padding-left: 20px !important;
}
div.widget-menu i.fa {
    width: 18px;
    color: #AAAAAA;
}

div.widget-menu li {
    vertical-align: middle !important;
}

div.widget-menu li.header {
    padding-left: 6px;
    background: $widget-menu-li-header-background;
    color: $widget-menu-li-header-color
}

div.widget-menu li {
    height: 30px !important;
    line-height: 30px;
}

div.widget-menu > ul > li > a {
    padding-left: 6px;
}

div.widget-menu > ul > li > a:hover {
    background-color: $widget-menu-li-hover-background;
}

div.widget-menu > ul > li > a:active {
    background-color: $widget-menu-li-active-background;
}

/* toaster */
div.toaster {
    position: absolute;
    right: 20px;
    top: 20px;
    min-width: 300px;
    max-width: 400px;
    color: #000000;
    border: 1px solid #dddddd;
    z-index: 2147483638;
    padding: 8px;
    cursor: crosshair;
}

div.toaster.otherside {
    left: 20px;
    right: auto;
}
div.toaster.success {
    color: #dddddd;
    background: rgba(0, 180, 0, 0.25);
    border: 1px solid #008800;
}

div.toaster.success div.toaster-titlebar {
    color: #dddddd;
}

div.toaster.error {
    color: #dddddd;
    background: rgba(180, 0, 0, 0.25);
    border: 1px solid #880000;
}

div.toaster.error div.toaster-titlebar {
    color: #dddddd;
}

div.toaster.warning {
    color: #ffffff;
    background: rgba(120, 120, 40, 0.25);
    border: 1px solid #ffff20;
}

div.toaster.warning div.toaster-titlebar {
    color: #ffff20;
}

div.toaster.info {
    color: #FFFFFF;
    background: rgba(0, 155, 255, 0.25);
    border: 1px solid #009fff;
}

div.toaster.neutral {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid #ffffff;
}

div.toaster.neutral div.toaster-titlebar {
    color: #ffffff;
}

div.toaster.info div.toaster-titlebar {
    color: #009fff;
}

div.toaster-titlebar {

    font-size: 1.4em;
    width: 100%;

}

div.toaster-titlebar-icon {
    float: left;
    margin-right: 10px;
}

div.toaster-title {
    float: left;
}

div.toaster-body {
    margin-top: 10px;
}

span[role=toaster-content] {
    display: none;
}

/* modal modals */
div#loading-blocker {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    background-image: url('/images/logo_s.png');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 3000000000;
    color: #FFFFFF;
}

div#loading-blocker.block-enabled {
  display: block;
}

div#loading-blocker i {
    position: absolute;
    top: 80%;
    left: 50%;
}

.show-when-logged-in {
  display: none;
}