@import '../themes/classic';

/* modal modals */
div#modal-blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $widget-loading-background;
    display: none;
    z-index: 2000000000;
}

div#modal-blocker.transparent {
    background: transparent;
}

div.modal {
    position: absolute;
    background: $widget-background;

    padding: 0px 0px 0px 0px;
    color: #FFF;

    border: $widget-border;
    box-shadow: $widget-box-shadow;
    border-radius: 6px;
    border-bottom-right-radius: 0px;

    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2000000001;
}

div.modal button {
    margin: 0 5px 0 5px;
}
div.modal-ui {
    position: absolute;
    text-align: center;
    color: #000000;
}


div.modal-titlebar {
    position: absolute;
    background: $widget-titlebar-background;
    border-bottom: $widget-titlebar-border;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 18px;
    top: 0px;
    left: 0px;
    right: 0px;
}


div.modal-titlebar .fa {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    top: 0px;
    left: 4px;
}

div.modal-icon {
    position: absolute;
    text-align: center;
    left: 0px;
    width: 18px;
    height: 18px;
}

div.modal-title {
    position: absolute;
    text-align: center;
    right: 18px;
    left: 18px;
    height: 18px;
    line-height: 18px;
    color: #ffffff;
}

div.modal-close {
    right: 0px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    color: #ffffff;
}


div.modal-ui:hover .fa {
        color: #050505;
}


div.modal-ui:hover {
    background-color:rgba(255,255,255,0.1);
}

div.modal.modal-active div.modal-ui:hover {
    background-color:rgba(255,255,255,0.1);
}

div.modal-buttons{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
}

div.modal-buttons input[type=button] {
    font-family: Consolas, monaco, monospace !important;
    width: 180px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #333333;
    background: linear-gradient(to bottom, #000000, #303030);
    color: #EEEEEE;
    padding: 4px;
    outline: none;
    cursor: pointer;
    margin: 0 20px 0 20px;
}

div.modal-buttons input[type=button]:active {
    background: linear-gradient(to bottom, #000000, #000000, #202020);
    cursor: pointer;
}

div.modal-body {
    position: absolute;
    top: 19px;
    right: 0px;
    bottom: 50px;
    left: 0px;
    border: none;
}

div.modal-body:not(.widget-not-scrollable) {
  overflow-y: scroll;
  overflow-x: hidden;
}