/* unselectable */    
* {
     -moz-user-select: -moz-none;
     -khtml-user-select: none;
     -webkit-user-select: none;

     /*
         Introduced in IE 10.
         See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
     */
     -ms-user-select: none;
     user-select: none;
}

p, td, th, span {
    -moz-user-select: -moz-text;
    -khtml-user-select: text;
    -webkit-user-select: text;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: text;
    user-select: text;
}

div#top-bar {
    color: #FFFFFF;
    background: linear-gradient(to bottom, #050505, #303030);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    line-height: 30px;
    z-index: 1000;

}

div#top-bar a.button {
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block;
    min-width: 30px;
    height: 30px;
}

/*
 * Top bar: menus
 */
 
div#top-bar .bg-icon {
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
}

div#top-bar > ul {
    min-width: 100px;
}

div#top-bar > ul:hover {
    background: linear-gradient(to top, #252525, #050505, #050505);
}

div#top-bar > ul:active {
    color: #888888;
    background: linear-gradient(to top, #202020, #050505, #050505);
}

div#top-bar li a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0px 6px 0px 6px;
}

div#top-bar > ul.menu-selected > li {
    background: linear-gradient(to bottom left, #000000, #000000, #000000, #252525);
}

div#top-bar > ul.menu-selected > li:hover {
    background: rgba(0, 0, 0, 0);
}

div#top-bar > ul.menu-selected > li:active {
    background: linear-gradient(to top, #101010, #000000, #000000);
}

div#top-bar li li:hover {
    background-color: rgba(0, 0, 255, 0.2);
}

div#top-bar ul ul {
    margin-top: 4px;
    box-shadow: 0px 2px 2px #111111;
    display: none;
    background: linear-gradient(to bottom, #000000, #303030);
}

div#top-bar ul.menu-selected li ul {
    display: block;
}

div#top-bar ul li > ul:hover {
    display: block;
}

div#top-bar a.button:hover {
    background: rgba(50, 50, 255, 0.8);
}


div#top-bar a.button:active {
    background-position: 1px 1px !important;
}

div#widget-button-container .fa,
div#top-bar .fa {
    color: #AAAAAA;
    font-size: 0.9em;
}

div#top-bar li.separator {
    height: 1px;
    background-color: #353535;
}


div#widget-taskbar {
    background: linear-gradient(to bottom, #252525, #050505);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    z-index: 1000;
    overflow: hidden;
    white-space: nowrap;
}

div#widget-button-container-scroll-left {
    border-right: 1px solid #101010;
    position: absolute;
    left: 0;
    bottom: 0;
}


div#widget-button-container {
    position: absolute;
    left: 11px;
    right: 151px;
    bottom: 0;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
}

div#widget-button-container-scroll-right {
    border-left: 1px solid #101010;
    border-right: 1px solid #101010;
    position: absolute;
    right: 121px;
    bottom: 0;
    height: 30px;
}

div#widget-button-container-minimize-all {
    position: absolute;
    right: 91px;
    bottom: 0;
}

div#widget-button-container-tile {
    position: absolute;
    right: 61px;
    bottom: 0;
}

div#widget-button-container-cascade {
    position: absolute;
    right: 31px;
    bottom: 0;
}

div#widget-button-container-embiggen {
    position: absolute;
    right: 0px;
    bottom: 0;
}

div.widget-context-button    {
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    overflow: hidden;
    border-right: 1px solid #101010;
}

div.widget-context-button:hover {
    background: linear-gradient(to top, #050505, #050505, #252525);
}

div.widget-context-button:active {
    color: #888888;
    background: linear-gradient(to top, #000000, #000000, #101010);
}


div.widget-button-container-scroll {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 10px;
    cursor: pointer;
}


div.widget-button-container-scroll:hover {
    background: linear-gradient(to top, #050505, #050505, #252525);
}

div.widget-button-container-scroll:active {
    color: #888888;
    background: linear-gradient(to top, #000000, #000000, #101010);
}


div#ajax-indicator {
    width: 32px;
    height: 30px;
    margin-right: 10px;
}

div#ajax-indicator.ajax-loading {
    background-image: url("/images/loader1.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

div#ajax-indicator.ajax-loading-https {
    background-image: url("/images/loader2.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

div#ajax-indicator.ajax-error {
    background-image: url("/images/loader3.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

.notice {
    padding: 0px 5px 0px 5px;
}

.error {
    background-color: rgba(255,0,0,0.1) !important;
    color: #DD0000;
}

.success {
    background-color: rgba(0,255,0,0.101010) !important;
    color: #00DD00;
}