body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
}
div#top-bar, div#widget-button-container, div.widget-ui {
  /*font-family: 'Overlock', cursive;*/
  font-size: 12px;
  /*text-transform: lowercase;*/
}

div.widget-ui {
  font-size: 0.9em;
}

.font-normal {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.font-mono {
  font-family: Consolas, monaco, monospace;
}