
div.skin-display {
    height: 282px;
    display: block;

}

div.layout-col {
    border: solid 1px #353535;
    border-radius-left-top: 4px;
    border-radius-right-top: 4px;
    background: linear-gradient(to bottom, #252525, #101010);
}

div.layout-col canvas {
    margin: auto;
}

div.layout-col.iframe iframe {
    position: relative;
    width: 100%;
    top: 0px;
    height: 388px;

}

div.layout-col div.iframe-block {
    position: absolute;
    width: 100%;
    top: 22px;
    height: 368px;
    background-color: rgba(0, 0, 0, 0.10);
    z-index: 2147483647;
}

div.layout-col-sec {
    width: 100%;
    margin-bottom: 6px;
}

div.layout-col-title {
    background: linear-gradient(to bottom, #252525, #353535);
    color: #FFFFFF;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    padding-left: 4px;
}

div.layout-col-1 {
    position: absolute;
    width: 250px;
    height: 410px;
    left: 5px;
    top: 5px;
}


div.layout-col-2 {
    position: absolute;
    width: calc(100% - 268px);
    height: 410px;
    right: 5px;
    top: 5px;
}

div.layout-col-3 {
    position: absolute;
    width: calc(100% - 12px);
    min-height: 400px%;
    right: 5px;
    top: 421px;
}

div.layout-col-a {
    margin: 5px 0 0 5px;
    display: block;
    width: calc(100% - 11px);
}

div.layout-col-b {
    margin: 5px 0 0 5px;
    display: block;
    width: calc(50% - 9px);
    float: left;
}

div.layout-col-content {
    margin: 5px 0 0 5px;
}

/*
 * Tables
 */

div.layout-col table {
    width: calc(100% - 20px);
    margin: 10px;
    border-collapse: separate;

}

div.layout-col table th,
div.layout-col table td {
    padding: 4px;
}

div.layout-col table th {
    color: #666666;
}

div.layout-badge-container {
    height: 30px;
}
/*
 * Squares
 */

div.square-container {
    width: 80px;
    height: 80px;
    border: 1px solid #353535;
    margin: 2px 0 0 2px;
    display: inline-block;
    background: linear-gradient(to bottom, #151515, #000000);
    font-family: monospace;
    font-size: 12px;
}

div.square-container h1 {
    font-size: 22px;
}

div.square-container h2 {

}

div.square-container h1, div.square-container h2 {
    display: block;
    position: relative;
}

div.square-container h2:first-child {
    top: 0;
}

div.square-container h2:last-child {
    bottom: 0;
}

/*
 * Player List 
 */
ul.player-list li {
    width: calc(100% - 4px);
    margin: 2px;
    vertical-align: middle;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.player-list li a {
    padding: 5px;
    display: block;
    height: 25px;
    line-height: 25px;
    width: 100%;
}


ul.player-list li a:hover {
    background: rgba(255, 255, 255, 0.05);
}

ul.player-list li img {
    float: left;
    margin-right: 5px !important;
}

/*
 * Health Hunger
 */
div.health, div.hunger {
    width: 110px;
    margin: auto;
}
div.health > span,
div.hunger > span
{
    width: 9px;
    height: 9px;
    background: url("/images/hungerlife.png");
    float: left;
    margin: 1px;
}

div.health > span.empty
{
    background-position: 0px 0px;
}
div.health > span.half
{
    background-position: -9px 0px;
}
div.health > span.full
{
    background-position: -18px 0px;
}

div.hunger > span.empty
{
    background-position: 0px -9px;
}
div.hunger > span.half
{
    background-position: -9px -9px;
}
div.hunger > span.full
{
    background-position: -18px -9px;
}

