div.page-filters {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100%;
  left: 0px;
  width: 250px;
  overflow: hidden;
}

div.page-filters-body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100%;
  left: 4px;
  width: 240px;
  overflow: hidden;
}


div.page-filters div.page-filters-snap {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100%;
  right: 0px;
  width: 3px;
  overflow: hidden;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  background-color: #111;
  cursor: pointer;
}

div.page-body {
  position: absolute;
  top: 0px;
  left: 250px;
  right: 0px;
}


div.page-footer {
  position: absolute;
  height: 20px;
  bottom: 10px;
  left: 250px;
  right: 0px;
  background-color: rgba(0,0,255,0.1);
}


/*
 * Directory & Player Cells
 */
div.player-cell {
  border: 1px solid #333333;
  margin-left: 5px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  width: 125px;
  height: 125px;
}

div.player-cell:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

div.player-cell div.section-1 {
  margin-top: 6px;
  height: 66px;
}


div.player-cell div.section-2{
  margin-top: 6px;
  height: 20px;
}


div.player-cell div.section-3 {
  height: 22px;
  margin-left: 1px;
  margin-right: 1px;
}

ul.navigation {
  clear: both;
  margin: auto;
}

ul.navigation li {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  float: left;
  width: 30px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

ul.navigation li:first-child {
  border-left: 1px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

ul.navigation li:last-child {
  border-right: 1px solid white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

ul.navigation li:not(:last-child) {
  border-right: 1px solid white;
}

ul.navigation li.current {
  background-color: #FFFFFF;
}
