
div.skin-display {
    height: 210px;
    display: block;

}

div.skin-display canvas {
    position: relative;
    top: 5px;
    left: -13px;
}

div.layout-row {

}

div.layout-col {
    margin: 5px 0px 0px 5px;
    border: solid 1px #353535;
    background: linear-gradient(to bottom, #050505, #101010);
}

div.layout-col canvas {
    margin: auto;
}

div.layout-col.iframe iframe {
    position: relative;
    width: 100%;
    top: 0px;
    height: calc(350px - 22px);

}

div.layout-col div.iframe-block {
    position: relative;
    width: 100%;
    top: calc(-100% + 20px);
    height: calc(100% - 20px);
    z-index: 2147483647;
}

div.layout-col-full {
    width: calc(100% - 13px);
    float: left;
}

div.layout-col-half {
    width: calc(50% - 10px);
    float: left;
}

div.layout-col-c {
    float: left;
}
div.layout-col-sec {
    width: 100%;
    margin-bottom: 6px;
}

div.layout-col-title {
    background: linear-gradient(to bottom, #252525, #353535);
    color: #FFFFFF;
    font-size: 12px;
    line-height: 22px;
    padding: 0 4px 0 4px;
}

div.layout-col-footer {
    background: linear-gradient(to bottom, #353535, #252525);
    color: #FFFFFF;
    font-size: 12px;
    line-height: 22px;
    padding: 0 4px 0 4px;
}

div.layout-col-character {
    width: 250px;
    height: 350px;
    float: left;
    overflow: hidden;
}

div.layout-col-map {
    width: calc(100% - 268px);
    height: 350px;
    float: left;
}

div.layout-col-full-width {
    width: calc(100% - 11px);
    float: left;
}


div.layout-col-content {
    margin: 5px 0 0 5px;
}

div.layout-badge-container {
    height: 30px;
}

div.layout-col div.padded {
    padding: 10px;
}

/*
 * Player List 
 */
ul.player-list li {
    width: calc(100% - 4px);
    margin: 2px;
    vertical-align: middle;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.player-list li a {
    padding: 5px;
    display: block;
    height: 25px;
    line-height: 25px;
    width: 100%;
}


ul.player-list li a:hover {
    background: rgba(255, 255, 255, 0.05);
}

ul.player-list li img {
    float: left;
    margin-right: 5px !important;
}

/*
 * Health Hunger
 */
div.health, div.hunger {
    width: 110px;
    margin: auto;
}
div.health > span,
div.hunger > span
{
    width: 9px;
    height: 9px;
    background: url("/images/hungerlife.png");
    float: left;
    margin: 1px;
}

div.health > span.empty
{
    background-position: 0px 0px;
}
div.health > span.half
{
    background-position: -9px 0px;
}
div.health > span.full
{
    background-position: -18px 0px;
}

div.hunger > span.empty
{
    background-position: 0px -9px;
}
div.hunger > span.half
{
    background-position: -9px -9px;
}
div.hunger > span.full
{
    background-position: -18px -9px;
}


/*
 * Tables
 */

table.stats {
    border-collapse: separate;
}

table.stats th,
table.stats td {
    padding: 4px;
}

table.stats th {
    color: #999999;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}


table.inventory {
    border: 2px solid #888888;
    margin: auto;
}

table.inventory td {
    background-color: #111111;
    border: 1px solid #888888;
    width: 24px;
    height: 24px;
    padding: 4px;
}

table.inventory tr:nth-child(4) td {
    border-top: 5px solid #888888;
}

table.inventory tr:not(:nth-child(4)) td:first-child {

    margin-left: 10px;
}