::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-corner {
    background: rgba(255,255,255, 0.05);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 4px;
    background: rgba(255,255,255, 0.2);
}

::-webkit-scrollbar-track-piece {
    width: 10px;
    background: rgba(255,255,255, 0.1);
}  
}

::-webkit-scrollbar-thumb:hover {
    width: 10px;
    border-radius: 4px;
    background: rgba(255,255,255, 0.4);
}

div {
    scrollbar-face-color: #474747;
    scrollbar-3dlight-color: #1A1A1A;
    scrollbar-highlight-color: #1A1A1A;
    scrollbar-track-color: #1A1A1A;
    scrollbar-arrow-color: #1A1A1A;
    scrollbar-shadow-color: #1A1A1A;;
    scrollbar-dark-shadow-color: #1A1A1A;
}