/*
 * widget.css
 * Widget CSS
 */

div.widget {
  position: absolute;
  background: linear-gradient(to top right, #000000, #222222);
  border: none;

  padding: 0px 0px 0px 0px;
  z-index: 2;
  color: #FFF;

  z-index: 0;
  border: 1px solid #000000;
  box-shadow: 0px 0px 4px #000000;
  border-radius: 6px;
  border-bottom-right-radius: 0px;
}

div.widget.maximized {
  border-radius: 0px;
  box-shadow: none;
}

div.widget.maximized div.widget-titlebar {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

div.widget-ajax {
  overflow-y: scroll;
}

div.widget-iframe {
  overflow: hidden; 
}

div.widget-body {
  position: absolute;
  top: 19px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: none;
}

div.widget-body iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

div.widget-titlebar {
  position: absolute;
  background: linear-gradient(to top, #050505, #222222);
  border-bottom: 1px solid #000000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 18px;
  top: 0px;
  left: 0px;
  right: 0px;
}

div.widget.widget-active div.widget-titlebar {
  background: linear-gradient(to top, #050505, #353535);
}

div.widget.widget-active div.widget-titlebar .fa {
  color: #1C1C1C;
}

div.widget-button, div.widget-title {
  
}

div.widget-ui {
  position: absolute;
  text-align: center;
  color: #000000;
}

div.widget-title {
  line-height: 18px;
  text-align: left;
  color: #FFFFFF;
}

div.widget-titlebar .fa {
    color: #181818;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    top: 0px;
    left: 4px;
}

div.widget-ui:hover .fa {
    color: #050505;
}


div.widget-ui:hover {
  background-color:rgba(255,255,255,0.1);
}

div.widget.widget-active div.widget-ui:hover {
  background-color:rgba(255,255,255,0.1);
}



div.widget-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

div.widget-title {
  padding-left: 4px;
}

div.widget-drag {
  height: 18px;
  left: 20px;
  right: 40px;
  cursor: move;
}

div.widget-close {
  left: 0px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

div.widget-maximize {
  right: 20px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

div.widget-minimize {
  right: 0px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

div.widget-resize {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 16px;
  height: 16px;
  cursor: se-resize;

}

div#widget-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 30px;
  bottom: 30px;
}

/*BOTTOM BUTTONS*/

div.widget-button {
  display: table-cell;
  float: left;
  cursor: pointer;
  position: relative;
  color: #FFFFFF;
  height: 30px;
  line-height: 30px;
  text-align: center;
  min-width: 140px;
  padding: 0px 5px 0px 5px;
  overflow: hidden;
  border-right: 1px solid #101010;

}

div.widget-button:hover {
  background: linear-gradient(to top, #050505, #050505, #252525);
}

div.widget-button:active {
  color: #888888;
  background: linear-gradient(to top, #000000, #000000, #101010);
}

div.widget-button.widget-button-active {
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
}

div.widget-button.minimized {
  color: #555555;
  background: rgba(0, 0, 0, 0);
}

div.widget-button.minimized:hover {
  background: rgba(0, 0, 0, 0);
}

div.widget-button.minimized:active {
  background: linear-gradient(to top, #050505, #050505, #202020);
}

div.widget-button.activity {
  background: rgba(0,0,255,0.5) url('/images/icons/chatnew.png') no-repeat 5px center !important;
}

div.widget-button.activity:hover {
  background: rgba(0,0,255,0.6) url('/images/icons/chatnew.png') no-repeat 5px center !important;
}

div.widget-button.activity:active {
  background: rgba(0,0,255,0.7) url('/images/icons/chatnew.png') no-repeat 5px center !important;
}
