@import 'themes/classic';

#html-templates {
    display: none;
}

/* unselectable */
* {
     -moz-user-select: -moz-none;
     -khtml-user-select: none;
     -webkit-user-select: none;

     /*
         Introduced in IE 10.
         See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
     */
     -ms-user-select: none;
     user-select: none;
}

body {
    overflow: hidden;
}

p, td, th, span {
    -moz-user-select: -moz-text;
    -khtml-user-select: text;
    -webkit-user-select: text;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: text;
    user-select: text;
}

.bg-icon {
    background-repeat: no-repeat;
    background-position: 7px center;
    padding-left: 30px;
}

div#widget-taskbar {
    background: linear-gradient($taskbar-gradient-direction, $taskbar-gradient-start-color, $taskbar-gradient-end-color);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    z-index: 1000000001;
    overflow: hidden;
    white-space: nowrap;
}

div#widget-button-home-menu {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
}

div#widget-button-admin-menu {
    position: absolute;
    left: 31px;
    bottom: 0;
    height: 30px;
}

div#widget-button-home-menu.active {
    background: linear-gradient(to bottom, #555555, #353535);
}

div#widget-button-container-scroll-left {
    border-right: 1px solid #101010;
    position: absolute;
    left: 31px;
    bottom: 0;
}

div#widget-button-container-scroll-left:hover {
    background: linear-gradient(to top, #050505, #050505, #252525);
}

div#widget-button-container-scroll-left:active {
    background: linear-gradient(to top, #000000, #000000, #101010);
}

div#widget-button-container {
    position: absolute;
    left: 42px;
    right: 74px;
    bottom: 0;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
}

div#widget-button-container-scroll-right {
    border-left: 1px solid #101010;
    border-right: 1px solid #101010;
    position: absolute;
    right: 62px;
    bottom: 0;
    height: 30px;
}

div#widget-button-container-scroll-right:hover {
    background: linear-gradient(to top, #050505, #050505, #252525);
}

div#widget-button-container-scroll-right:active {
    background: linear-gradient(to top, #000000, #000000, #101010);
}

div#widget-button-desktopmenu {
    position: absolute;
    right: 31px;
    bottom: 0;
}

div#widget-button-usermenu {
    position: absolute;
    right: 0;
    bottom: 0;
}

div.widget-context-button    {
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    overflow: hidden;
    border-right: 1px solid #101010;
}

div.widget-context-button:hover {
    background: linear-gradient(to top, #050505, #050505, #252525);
}

div.widget-context-button:active {
    color: #888888;
    background: linear-gradient(to top, #000000, #000000, #101010);
}


div.widget-button-container-scroll {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 10px;
    cursor: pointer;
}


div.widget-button-container-scroll:hover {
    background: linear-gradient(to top, #050505, #050505, #252525);
}

div.widget-button-container-scroll:active {
    color: #888888;
    background: linear-gradient(to top, #000000, #000000, #101010);
}

div#widget-homemenu {
    left: 0px;
    height: 330px;
}

div#widget-adminmenu {
    left: 31px;
    height: 270px;
}

div#widget-usermenu {
    right: 0px;
    height: 151px;
}

div#widget-desktopmenu {
    right: 31px;
    height: 212px;
}

div.widget-menu {
     display: none;
     position: absolute;
     top: 30px;
     background: red;
     border: 1px solid #252525;
     box-shadow: 0 0 40px 5px #000;
     background: linear-gradient(to bottom, #454545, #252525);
     color: #FFFFFF;
     z-index: 2000000000;
}

div.widget-menu i {
    color: #888888;
}

div.widget-menu > ul {
    width: 140px;
    float: left;
    height: 100%;
}

div.widget-menu > ul:not(:first-child) {
    border-left: 1px solid #252525;
}

div.widget-menu li {
    height: 25px;
    line-height: 25px;
}

div.widget-menu li.separator {
    border-top: 1px solid #252525;
}

div.widget-menu a {
    display: block;
}

div.widget-menu .bg-icon {
    background: linear-gradient(to bottom, #454545, #404040);
    background-repeat: no-repeat;
    background-position: 0 center !important;
    padding-left: 20px !important;
}
div.widget-menu i.fa {
    width: 18px;
    color: #AAAAAA;
}

div.widget-menu li {
    vertical-align: middle !important;
}

div.widget-menu li.header {
    padding-left: 6px;
    background: linear-gradient(to bottom, #656565, #626262);
    color: #FCFCFC;
}

div.widget-menu li {
    height: 30px !important;
    line-height: 30px;
}

div.widget-menu > ul > li > a {
    padding-left: 6px;
}

div.widget-menu > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

div.widget-menu > ul > li > a:active {
    background-color: rgba(255, 255, 255, 0.1);
}

/* toaster */
div.toaster {

    position: absolute;
    right: 20px;
    top: 20px;
    min-width: 300px;
    max-width: 400px;
    color: #000000;
    border: 1px solid #dddddd;
    z-index: 2147483638;
    padding: 8px;
    cursor: crosshair;
}

div.toaster.otherside {
    left: 20px;
    right: auto;
}
div.toaster.success {
    color: #dddddd;
    background: rgba(0, 180, 0, 0.75);
    border: 1px solid #008800;
}

div.toaster.success div.toaster-titlebar {
    color: #dddddd;
}

div.toaster.error {
    color: #dddddd;
    background: rgba(180, 0, 0, 0.75);
    border: 1px solid #880000;
}

div.toaster.error div.toaster-titlebar {
    color: #dddddd;
}

div.toaster.warning {
    color: #ffffff;
    background: rgba(120, 120, 40, 0.75);
    border: 1px solid #ffff20;
}

div.toaster.warning div.toaster-titlebar {
    color: #ffff20;
}

div.toaster.info {
    color: #FFFFFF;
    background: rgba(0, 155, 255, 0.75);
    border: 1px solid #009fff;
}

div.toaster.neutral {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid #ffffff;
}

div.toaster.neutral div.toaster-titlebar {
    color: #ffffff;
}

div.toaster.info div.toaster-titlebar {
    color: #009fff;
}

div.toaster-titlebar {

    font-size: 2em;
    width: 100%;

}

div.toaster-titlebar-icon {
    float: left;
    margin-right: 10px;
}

div.toaster-title {
    float: left;
}

div.toaster-body {
    margin-top: 10px;
}

span[role=toaster-content] {
    display: none;
}

/* modal modals */
div#loading-blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    background-image: url('/images/logo_s.png');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2000000000;
    color: #FFFFFF;
}
div#loading-blocker i {
    position: absolute;
    top: 80%;
    left: 50%;
}