div.post {

  img {
    max-width: 100%;
    height: auto;
  }

  li {
    list-style-type: circle;
    margin-left: 2em;
  }

  p, li {
    line-height: 1.2em;
  }

  p:not(:last-child), ul:not(:last-child), div.wp-caption:not(:last-child) {
    margin-bottom: 1em;
  }

  p:first-letter {
    font-size: 1.2em;
  }

}