@import 'themes/classic';

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.center {
  text-align: center !important;
}

.w45p {
    width: 45%;
}

.w50 {
    width: 50%
}

.w60 {
    width: 60%
}

div.clearer {
    clear: both;
}

div.push-down {
    margin-bottom: 5px;
}

div.pad-up {
    padding-bottom: 5px;
}

div.page-panel-body {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    padding: 5px 5px 5px 5px;
}

div.page-panel-scrollable {
    overflow-y: scroll;
}

div.page-panel-scrollable-auto {
    overflow-y: auto;
}

div.page-panel-left {
    position: absolute;
    left: 0px;
    width: 200px;
}

div.page-panel-top.page-panel-left {
    width: 200px;
}

div.page-panel-top.page-panel-right {
    width: 200px;
}

div.page-panel-right {
    position: absolute;
    left: 210px;
    right: 0px;
}

div.page-panel-full {
    position: absolute;
    left: 0px;
    right: 0px;
}

div.page-panel-body.page-panel-left ul {
    width: 180px;
}

/* Tables */
table.listing {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    border: 1px solid #222222;
}


table.listing thead {
    background: linear-gradient(to bottom, #353535, #050505);
}

table.listing tbody {

}

table.listing tr {

}

table.listing tr td,
table.listing tr th {
    text-align: left;
    vertical-align: middle;
    padding: 0px 8px 0px 8px;
    overflow: hidden;
    height: 30px;
}

table.listing thead tr td a {
    display: block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 100%;
}

table.listing tr td div {
    height: 30px;
    line-height: 30px;
}

table.listing.alt-rows tr th,
table.listing.alt-rows-2 tr th {
    background: rgba(0,0, 0, 0.05);
}

table.listing.alt-rows tr:nth-child(even) td {
    background: rgba(0, 0, 0, 0.05);
}


table.listing.alt-rows tr.footer td {
    background: rgba(0, 0, 0, 0);
}

table.listing.alt-rows tr:nth-child(odd) td {
     background: rgba(255, 255, 255, 0.05);
}

table.listing.alt-rows-2 tr:nth-child(4n) td,
table.listing.alt-rows-2 tr:nth-child(4n-1) td {
    background: rgba(0, 0, 0, 0.05);
}

table.listing.alt-rows-2 tr:nth-child(4n-2) td,
table.listing.alt-rows-2 tr:nth-child(4n-3) td {
    background: rgba(255, 255, 255, 0.1);
}

tr.light td {
    background: rgba(255, 255, 255, 0.05);
}

tr.dark td {
    background: rgba(0, 0, 0, 0.05);
}

table.listing thead td.column-sortable {
    cursor: pointer;
}

table.listing thead td.column-sortable:active {
    color: #AAAAAA;
    background: linear-gradient(to bottom, #000000, #252525) !important;
}

table.listing:not(grouped-listing) tbody tr:hover td {
    background: rgba(255, 255, 255, 0.1) !important;
}

table.listing.grouped-listing tbody:hover tr td {
    background: rgba(255, 255, 255, 0.1) !important;
}

.align-center {
        text-align: center;
}

.align-left {
        text-align: left;
}

.align-right {
        text-align: right;
}

/*
 * Directory & Player Cells
 */
div.player-cell {
    border: 1px solid #222222;
    margin-right: 2px;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    width: 125px;
    height: 150px;
    background: linear-gradient(to bottom, #000000, #303030);
}

div.player-cell:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

div.player-cell div.section-1 {
    height: 25px;
    line-height: 25px;
}

div.player-cell div.section-2 {
    height: 71px;
}

div.player-cell div.section-3 {
    height: 29px;
    text-align: center;
}

div.pagination {

}

div.separator {
    clear: both;
    height: 20px;
    display: block;
}
div.separator2 {
    clear: both;
    height: 5px;
    display: block;
}


ul.pagination {
    width: 100%;

}

ul.pagination li {
    display: inline-block;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
    height: 25px;
    min-width: 32px;
    line-height: 25px;
    text-align: center;
    background: linear-gradient(to bottom, #000000, #050505);
}

ul.pagination li:hover:not(.inactive) {
    background: linear-gradient(to bottom, #000000, #101010);
}

ul.pagination li:active:not(.inactive) {
    background: linear-gradient(to bottom, #000000, #151515);
}

ul.pagination a {
    display: block;
    width: 30px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

ul.pagination li:first-child {
    border-left: 1px solid #222222;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

ul.pagination li:last-child {
    border-right: 1px solid #222222;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li:not(:last-child) {
    border-right: 1px solid #222222;
}

ul.pagination li.current {
    color: #AAAAAA !important;
    background: linear-gradient(to bottom right, #151515, #454545) !important;
    padding: 0px 6px 0px 6px;
}

ul.pagination li.inactive {

}

/* Badges */
span.badge {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0px;
}

table tr td span.badge {
    margin: 3px 0 3px 0;
}

span.badge-premium {
    background-image: url(/images/icons/badge_premium.png);
}

span.badge-donor {
    background-image: url(/images/icons/badge_donor.png);
}

span.badge-contributor {
    background-image: url(/images/icons/badge_contributor.png);
}

span.badge-administrator {
    background-image: url(/images/icons/badge_administrator.png);
}

span.badge-operator {
    background-image: url(/images/icons/badge_operator.png);
}

span.badge-member {
    background-image: url(/images/icons/badge_member.png);
}

span.badge-deactivated {
    background-image: url(/images/icons/badge_deactivated.png);
}

span.badge-online {
    background-image: url(/images/icons/badge_online.png);
}

span.badge-offline {
    background-image: url(/images/icons/badge_offline.png);
}

.text-center {
    text-align: center;
}

.h30px {
    height: 30px;
}

.h80px {
    height: 80px;
}

.h350px {
    height: 350px;
}

.w100pct {
    width: 100%;
}

.w50pct {
  width: 50%;
}

.w40pct {
    width: 40%;
}

.w30pct {
    width: 30%;
}

.w25pct {
  width: 25%;
}

.w100px {
    width: 100px;
}

span.annotation {
    font-size: 10px;
    color: #cccccc;
}

div#page-credits {

    img {
      text-align: center;
    }

    h1 {
      font-size: 1.5em;
      color: $text-title-color
    }

    dl.credits {

        text-align: center;

        dt {
            color: $text-2nd-title-color;
            margin-bottom: 8px;
            text-align: center;
            font-size: 1.1em;
            text-shadow: 1px 1px #1e1e1e;
        }

        dt:not(:first-child) {
            margin-top: 10px;
        }

        dd {
            display: inline-block;
            vertical-align: center;
            text-align: center;
            margin: 0 4px 4px 0;
            text-shadow: 1px 1px $text-sub-title-color;

            span {
              font-size: 0.8em;
              color: $text-sub-title-color;
              font-style: italic;
              text-shadow: 1px 1px #000000;
            }

            span:before {
              content: '(';
            }

            span:after {
              content: ')';
            }
        }

    }

}