div#login {

    background: rgba(0, 0, 0, 0.5) url("/images/logo.png") no-repeat 10px 10px;
    width: 100%;
    height: 100%;

    div#actions {
        width: 260px;
        height: 150px;
        bottom: 110px;
        right: 20px;
    }

    div#motd {
        width: 260px;
        height: 150px;
        top: 50px;
        right: 20px;
    }

    div#title {
        height: 30px;
        top: 20px;
        right: 20px;
    }
}

div#register {

    background: rgba(0, 0, 0, 0.5) url("/images/registration_s.png") no-repeat 125px -10px;
    width: 100%;
    height: 100%;

    div#actions {
        width: 240px;
        height: 125px;
        bottom: 105px;
        right: 70px;
    }

    div#motd {
        width: 360px;
        height: 150px;
        bottom: 80px;
        left: 50px;
    }

}

div#login, div#register {

    font-size: 14px;

    a {
        text-decoration: underline;
        color: #ffffff;
    }

    a:hover {
       color: #aaffaa;
    }


    div#actions {

        position: absolute;

        form {
            width: 100%;

            ul {

                li {
                    text-align: center;
                    margin-top: 0.3em;
                }

            }

            input {
                font-family: monospace;
                font-size: 1em;
                border-radius: 5px;
                width: 180px;
                border: 1px solid #c0c0c0;
                height: 15px;
                padding: 8px;
                background: rgba(255, 255, 255, 0.25);
                color: white;
                margin: auto;
                text-shadow: 1px 1px #000;
            }

            input[type=text], input[type=password] {
                outline: none;
                margin-bottom: 0.3em;
                text-shadow: 1px 1px #000;
            }

            button {
                font-size: 1em;
                background: rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                cursor: pointer;
                width: 198px;
                height: 30px;
                margin-bottom: 10px;
                text-shadow: 1px 1px #000;
            }

            button:active {
                background: rgba(0, 0, 0, 0.8);
                cursor: pointer;
                margin-right: 2px;

            }

            button#login,
            button#register {
                color: #FFFFFF;
                background: rgba(0, 186, 186, 0.25);
                border: 1px solid #3ababa;
            }

            button#show-login,
            button#show-register {
                color: #ffffff;
                background: rgba(140, 140, 140, 0.25);
                border: 1px solid #1e1e1e;
            }

        }

    }

    div#motd, div#title {
        position: absolute;
    }

    h1 {
        font-size: 2em;
        text-shadow: 1px 1px #000;
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 1em;
        padding-top: 0.5em;
        text-shadow: 1px 1px #000;
    }

    span.center {
        display: block;
        text-align: center;
    }

    p {
        text-align: left;
        margin-top: 1em;
        line-height: 1.2em;
        text-shadow: 1px 1px #444;
    }

    div#social {
        width: 300px;
        left: calc(50% - 150px);
        bottom: 0;

        position: absolute;
    }

    ul.icons {
        margin-top: 8px;
        margin-left: 5px;
    }

    ul.icons li {
        margin-left: 5px;
        margin-bottom: 5px;
        float: left;
    }

    /*
     * Forms
     */


    label {
        font-family: monospace;
        text-align: center;
        display: block;
        width: 100%;
    }

    label.error {
        border: 1px solid #F00;
        border-radius: 3px;
        color: #FFF;
        background: rgba(255, 0, 0, 0.3);
        margin-top: 0.3em;
        padding: 0.25em;
    }

    label.success {
        border: 1px solid #0F0;
        border-radius: 3px;
        color: #FFF;
        background: rgba(0, 255, 0, 0.3);
        margin-top: 0.3em;
        padding: 0.25em;
    }

    /*
     * Links
     */
    a, a:visited, a:active {
        color: white;
    }

    a.socialicon {
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        width: 36px;
        height: 36px;
    }

    a.socialicon[href]:active {
        background-position: 75% 75%;
    }

    span.important {
      color: #ff6f70;
    }
}