div#maplist {
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

div#maplist ul.worldlist {
  height: auto !important;
  width: 95%;
  margin: auto;
}

ul.worldlist li.world {
  
  clear: both;

  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-variant: small-caps;

  color: #777;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

ul.maplist {
  text-align: left;
  float: right;
}

ul.maplist li.map {
  cursor: pointer;
  background-color: rgba(0,0,0,0) !important;
  float: right;
  width: 50px;
  text-align: center;
  text-transform: lowercase;
  font-family: Consolas, monaco, monospace !important;
}

ul.maplist li.map a {
  height: 28px;
  width: 100%;
  display: inline-block;
  background-position: 50% 10px;
  background-repeat: no-repeat;
  line-height: 100%;
  padding-top: 22px;
}

ul.maplist li.map a:hover {
  color: #fff !important;
}

ul.maplist li.map:hover {
  
  background-color: rgba(255,255,255,0.1) !important;
}


/* */
div#playerlist ul.playerlist {
  height: auto !important;
  width: 95%;
  margin: auto;
}

div#playerlist span.playerIcon {
  cursor: pointer;
}
