/*
                                      █                    █
                                      █                    █
  ▓██▒  ▒███▒  ▒███▒         ▒███▒  █████  ░███░   █▒██▒ █████
 ▓█  ▓  █▒ ░█  █▒ ░█         █▒ ░█    █    █▒ ▒█   ██  █   █
 █░     █▒░    █▒░           █▒░      █        █   █       █
 █      ░███▒  ░███▒         ░███▒    █    ▒████   █       █
 █░        ▒█     ▒█            ▒█    █    █▒  █   █       █
 ▓█  ▓  █░ ▒█  █░ ▒█         █░ ▒█    █░   █░ ▓█   █       █░
  ▓██▒  ▒███▒  ▒███▒         ▒███▒    ▒██  ▒██▒█   █       ▒██
*/

body {
 font-size: 12px;
 font-family: Consolas, monaco, monospace !important;
 color: #ddd;
}

html {
  overflow-y: scroll;
}

/*
   █                        █    █
   █                        █
   █                        █
   █▒██▒   ███   ░███░   ██▓█  ███    █▒██▒   ██▓█  ▒███▒
   █▓ ▒█  ▓▓ ▒█  █▒ ▒█  █▓ ▓█    █    █▓ ▒█  █▓ ▓█  █▒ ░█
   █   █  █   █      █  █   █    █    █   █  █   █  █▒░
   █   █  █████  ▒████  █   █    █    █   █  █   █  ░███▒
   █   █  █      █▒  █  █   █    █    █   █  █   █     ▒█
   █   █  ▓▓  █  █░ ▓█  █▓ ▓█    █    █   █  █▓ ▓█  █░ ▒█
   █   █   ███▒  ▒██▒█   ██▓█  █████  █   █   ██▒█  ▒███▒
                                                 █
                                              ▓ ▒█
                                              ▒██░
*/

h1, h2, h3 {
  overflow:hidden;
  text-overflow:ellipsis;
}

h1 {
 color: #999;
 font-size: 2em;
 margin-bottom: 0.3em;
}

h2 {
 font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
 font-variant: small-caps;

 color: #777;
 font-size: 1.2em;
 margin-bottom: 0.3em;
}

h3 {
 font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
 font-variant: small-caps;
 color: #777;
 font-size: 1.2em;

 margin-bottom: 0.3em;
 margin-bottom: 5px;
}

/* for the links in blog posts */
h3 a {
  color: #666;
}

h3 a:hover {
  color: #777;
}
h3 a:active {
  color: #888;
}

/*
   ▒██
   █░
   █
 █████   ███    █▒██▒ ██▓█▓  ▒███▒
   █    █▓ ▓█   ██  █ █▒█▒█  █▒ ░█
   █    █   █   █     █ █ █  █▒░
   █    █   █   █     █ █ █  ░███▒
   █    █   █   █     █ █ █     ▒█
   █    █▓ ▓█   █     █ █ █  █░ ▒█
   █     ███    █     █ █ █  ▒███▒
*/

input {
 font-family: Consolas, monaco, monospace !important;
 font-size: 1em;
 border-radius: 3px;
 border: 0px;
 background: rgba(255,255,255,0.2);
 color: #EEEEEE;
 padding: 0.3em;


}

input[type=text], input[type=password] {
  outline: none;
}

input[type=text], input[type=password], label[for] { 
  width: 95%;
  display: block;
}

input[type=submit], input[type=reset] {
  width: 40%;
  margin: auto;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border: 1px solid #CCC;
}

input[type=checkbox] {
  cursor: pointer;
  display: inline;
}

input[type=checkbox]:not(.gridy) {
  float: left;
}

label {
  cursor: pointer;
}

label.checkbox {
  display: block;
  font-family: Consolas, monaco, monospace !important;
  font-size: 1em;
  border-radius: 3px;
  border: 0px;
  background: rgba(255,255,255,0.2);
  color: #EEEEEE;
  padding: 4px;
  width: 94%;
}

input[type=submit]:hover, input[type=reset]:hover {
 background: rgba(255,255,255,0.3);
 cursor: pointer;
}

input[type=submit]:active, input[type=reset]:active {
 background: rgba(255,255,255,0.4);
 cursor: pointer;
}

input[type="date"] {
  width: 70%;
}

input[type="date"]::-webkit-inner-spin-button{
    display: none;
}

/*
          █                                ███
                                             █
                                             █
 ██▓█▓  ███    ▒███▒   ▓██▒          ▓██▒    █    ░███░  ▒███▒  ▒███▒
 █▒█▒█    █    █▒ ░█  ▓█  ▓         ▓█  ▓    █    █▒ ▒█  █▒ ░█  █▒ ░█
 █ █ █    █    █▒░    █░            █░       █        █  █▒░    █▒░
 █ █ █    █    ░███▒  █             █        █    ▒████  ░███▒  ░███▒
 █ █ █    █       ▒█  █░            █░       █    █▒  █     ▒█     ▒█
 █ █ █    █    █░ ▒█  ▓█  ▓         ▓█  ▓    █░   █░ ▓█  █░ ▒█  █░ ▒█
 █ █ █  █████  ▒███▒   ▓██▒          ▓██▒    ▒██  ▒██▒█  ▒███▒  ▒███▒
*/

i {
  font-style: italic;
}

p { 
 font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
 font-size: 1.1em;
 line-height: 1.3em;
}

a {
 color: #ddd;
 text-decoration: none;
}

a:hover {
 color: #666;
 text-decoration: none;
}

a:active {
 color: #777;
 text-decoration: none;
}

.pushd {
 margin-bottom: 0.5em;
}

.pushu {
 margin-top: 1em;
}
.clear {
 clear: left;
} 
.pull-left {
 float: left;
}

.pull-right {
 float: right;
}

.aright {
 text-align: right;
}

/*
               █      ███
   █           █        █
   █           █        █
 █████  ░███░  █▓██     █     ███   ▒███▒
   █    █▒ ▒█  █▓ ▓█    █    ▓▓ ▒█  █▒ ░█
   █        █  █   █    █    █   █  █▒░
   █    ▒████  █   █    █    █████  ░███▒
   █    █▒  █  █   █    █    █         ▒█
   █░   █░ ▓█  █▓ ▓█    █░   ▓▓  █  █░ ▒█
   ▒██  ▒██▒█  █▓██     ▒██   ███▒  ▒███▒
*/

/* Admin Table */
table {
  width: 100%;
  white-space: nowrap;
}

td, th {
  padding: 0.3em;
}

tr.padup {
  margin-top: 0.5em;
}

table.admin {
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;
}

table.admin.alt-rows td {
  line-height: 16px;
}

table.admin.options {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

 table.admin.options th, table.admin.options td {
  padding: 0.5em;
 }

table.admin .cellc {
  text-align: center;
  vertical-align: middle
}

table.admin .cella {
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

table.alt-rows tr:nth-child(even) td {
  background: rgba(0,0,0, 0.1);
}

table.alt-rows tr:nth-child(odd) td {
  background: rgba(0,0,0, 0.2);
}

div.meh {

  margin-bottom: 0.5em;
}

table.admin td, table.admin th {
  padding: 0em;
  text-align: left;
}

td.shortcell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cella {
  width: 80px;
}

.cellb {
  width: 70px;
}

.cellc {
  width: 12px;
}

.celld {
  width: 6px;
}

td.online {
  background-color: rgba(0,255,0,0.1) !important;
}

td.offline {
  background-color: rgba(255,0,0,0.1) !important;
}

table.pretty {
  border-collapse: separate;
  border-spacing: 2px;
}

  
table.pretty td {
  background: rgba(0, 0, 0, 0.2);
  color: #DDD;
}

table.pretty th {
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  text-align: left;
  color: #777;
  font-size: 1.2em;
  color: #FFF;
  background: rgba(0, 0, 0, 0.5);
}

table tbody {
  color: #ddd;
}

td.shortcol {
  width: 5%;
}

table.admin h2#select-all-active,
table.admin h2#select-all-delete {
  cursor: pointer;
}

/*
     █    █                                                █
     █                                              █
     █                                              █
  ██▓█  ███    █░ ░█         ▒███▒   ███    ▓██▒  █████  ███     ███   █▒██▒
 █▓ ▓█    █    ▓▒ ▒▓         █▒ ░█  ▓▓ ▒█  ▓█  ▓    █      █    █▓ ▓█  █▓ ▒█
 █   █    █    ▒█ █▒         █▒░    █   █  █░       █      █    █   █  █   █
 █   █    █     █ █    ███   ░███▒  █████  █        █      █    █   █  █   █
 █   █    █     █▓█             ▒█  █      █░       █      █    █   █  █   █
 █▓ ▓█    █     ▒█▒          █░ ▒█  ▓▓  █  ▓█  ▓    █░     █    █▓ ▓█  █   █
  ██▓█  █████   ░█░          ▒███▒   ███▒   ▓██▒    ▒██  █████   ███   █   █
*/

div#conteudo {
 margin: 10px;
}

div.section {
 background-color: rgba(0,0,0,0.5);
 padding: 5px;
 clear: both;
}

div.section-left {
  width: 48%;
  float: left;
}

div.section-left-small {
  width: 40%;
  float: left;
}

div.section-right {
  width: 48%;
  float: right;
}

div.section-right-large {
  width: 60%;
  float: right;
}

div.extra-padding-left {
  padding-left:5px;
}
div.section2 {
 /*background-color: rgba(0,0,0,0.5);*/
 padding: 5px 0px 5px 0px;
 margin: auto;
}

div.pushd2 {
 margin-bottom: 5px;
}

span.small {
 font-size: 0.9em;
 color: #666;
}

div#buttons {
 position: absolute;
 top: 10px;
 right: 10px;
}

.center {
  text-align: center !important;
}


div.error {
 background-color: rgba(255,0,0,0.3) !important;
 margin-bottom: 0.5em;
}

div.success {
 background-color: rgba(0,255,0,0.3) !important;
 margin-bottom: 0.5em;
}


li {
 line-height: 1.5em;
 margin-bottom: 2px;

}

ul.player-list {
 width: 100%;
}

ul.player-list li {
 background-position: left top;
 background-repeat: no-repeat;
}

ul.player-list li a {
 padding-left: 0px;
}
ul.player-list li a:active {
 
}

div#skin {
  width: 100%;
  text-align: center;
  margin-top: 1em;
  height: 360px;
}

div#skin img {
  width: 187px;
  height: 346px;
}

div.userbar {
  height: 26px !important;
  margin-bottom: 0.5em;
}

a#profile {
  margin-top: 4px;
  line-height: 1.5em;
  width: auto;
}

a#backoffice {
  background-image: url('/images/icons/side_admin.png');
}

a#maps {
  background-image: url('/images/icons/side_maps.png');
}

a#directory {
  background-image: url('/images/icons/side_directory.png');
}

a#news {
  background-image: url('/images/icons/side_news.png');
}

a#close {
  background-image: url('/images/icons/side_close.png');
}

a#logout {
  background-image: url('/images/icons/side_logout.png');
}

a.button {
  background-position: top left;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
}

a.button-padded {
  background-position: top left;
  background-repeat: no-repeat;
}
li.link:active {
  background-position: 1px top !important;
}

a.button:active {
  background-position: 1px 1px !important;
}

a#profile:active {
  padding-top: 1px;
  padding-left: 1px;
}

/* deprecated a.i18n {
 padding-left: 20px;
 text-decoration: none;
}

a[data-lang=pt_PT] {
 background: url('/images/icons/PT.png') no-repeat left center;
}

a[data-lang=en_GB] {
 background: url('/images/icons/GB.png') no-repeat left center;
}*/

/*
                        ▒██    █    ███             █
                        █░            █
                        █             █
 █▓██    █▒██▒  ███   █████  ███      █     ███   ███     ▓██▒   ███   █▒██▒
 █▓ ▓█   ██  █ █▓ ▓█    █      █      █    ▓▓ ▒█    █    ▓█  ▓  █▓ ▓█  █▓ ▒█
 █   █   █     █   █    █      █      █    █   █    █    █░     █   █  █   █
 █   █   █     █   █    █      █      █    █████    █    █      █   █  █   █
 █   █   █     █   █    █      █      █    █        █    █░     █   █  █   █
 █▓ ▓█   █     █▓ ▓█    █      █      █░   ▓▓  █    █    ▓█  ▓  █▓ ▓█  █   █
 █▓██    █      ███     █    █████    ▒██   ███▒  █████   ▓██▒   ███   █   █
 █
 █
 █

   █                           █             █
                                                    █
                                                    █
 ███    █▒██▒   ██▓█  █   █  ███    ▒███▒  ███    █████   ███    █▒██▒
   █    █▓ ▒█  █▓ ▓█  █   █    █    █▒ ░█    █      █    █▓ ▓█   ██  █
   █    █   █  █   █  █   █    █    █▒░      █      █    █   █   █
   █    █   █  █   █  █   █    █    ░███▒    █      █    █   █   █
   █    █   █  █   █  █   █    █       ▒█    █      █    █   █   █
   █    █   █  █▓ ▓█  █▒ ▓█    █    █░ ▒█    █      █░   █▓ ▓█   █
 █████  █   █   ██▓█  ▒██▒█  █████  ▒███▒  █████    ▒██   ███    █
                   █
                   █
                   █

 */
 
/* little heads cropped from full minecraft skins */
a.notregistered {
  cursor: default;
}

span.stevehead
{
  width: 16px;
  height: 16px;
  overflow: hidden;
  position: relative;
  float: left;
  margin-right: 5px;
}

span.stevehead img, 
span.stevehead canvas
{
  width: 128px;
  height: 64px;
  margin-left: -16px;
  margin-top: -16px;
  position: absolute;
}

div.manage_users span.stevehead
{
  margin-top: -2px;
}

/* lil bigger heads at the profile page */
h1.playername span.stevehead
{
  width: 24px;
  height: 24px;
}

h1.playername span.stevehead img,
h1.playername span.stevehead canvas
{
  width: 192px;
  height: 96px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
}




/* larger heads at the news page */
div#onlineplayers {
  padding-left: 0px;
}

div#onlineplayers h2 {
  margin-left: 5px;
  margin-top: 5px;
}

div#onlineplayers span.stevehead
{
  width: 32px;
  height: 32px;
}
 
div#onlineplayers span.stevehead img,
div#onlineplayers span.stevehead canvas
{
  width: 256px;
  height: 128px;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
}

div#onlineplayers span.stevehead {
  margin: 5px !important;
}

/*div#onlineplayers div.stevegrid a:hover span.stevehead
{
  width: 48px;
  height: 48px;
  display: absolute;
}
 
div#onlineplayers div.stevegrid a:hover span.stevehead img,
div#onlineplayers div.stevegrid a:hover span.stevehead canvas
{
  width: 384px;
  height: 192px;
  margin-left: -48px;
  margin-top: -48px;
  position: absolute;
}*/


/* way larger heads at the directory page */
div#playerlist span.stevehead
{
  width: 48px;
  height: 48px;
}
 
div#playerlist span.stevehead img,
div#playerlist span.stevehead canvas
{
  width: 384px;
  height: 192px;
  margin-left: -48px;
  margin-top: -48px;
  position: absolute;
}

div#playerlist div.player {
  width: 110px;

  max-height: 125px;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

div#playerlist div.player a {
  line-height: 1.2em;
}
div#playerlist div.badges {
  text-align: center;
  min-width: 24px;
  max-width: 160px;
  margin: auto;
}

div#playerlist div.player:hover{
  background-color: rgba(0,0,0,0.2);
}

div.content.section > div
{
  clear: both;
  width: 100%;
}

/*
 * Health Hunger
 */
div.health, div.hunger {
  width: 120px;
  display: block;
  margin: auto;
}
div.health > span,
div.hunger > span
{
  width: 9px;
  height: 9px;
  background: url("/images/hungerlife.png");
  float: left;
  margin: 1px;
}

div.health > span.empty
{
  background-position: 0px 0px;
}
div.health > span.half
{
  background-position: -9px 0px;
}
div.health > span.full
{
  background-position: -18px 0px;
}

div.hunger > span.empty
{
  background-position: 0px -9px;
}
div.hunger > span.half
{
  background-position: -9px -9px;
}
div.hunger > span.full
{
  background-position: -18px -9px;
}

section
{
  /*background-color: rgba(0, 0, 0, 0.5);*/
  clear: both;
  margin-bottom: 10px;
  padding: 5px;
}

div.section div.section
{
  background: transparent;
}

/*
               ███    ███                           █    █      ███
                 █      █                                █        █
                 █      █                                █        █
  ▓██▒   ███     █      █    ░███░  █▓██   ▒███▒  ███    █▓██     █     ███
 ▓█  ▓  █▓ ▓█    █      █    █▒ ▒█  █▓ ▓█  █▒ ░█    █    █▓ ▓█    █    ▓▓ ▒█
 █░     █   █    █      █        █  █   █  █▒░      █    █   █    █    █   █
 █      █   █    █      █    ▒████  █   █  ░███▒    █    █   █    █    █████
 █░     █   █    █      █    █▒  █  █   █     ▒█    █    █   █    █    █
 ▓█  ▓  █▓ ▓█    █░     █░   █░ ▓█  █▓ ▓█  █░ ▒█    █    █▓ ▓█    █░   ▓▓  █
  ▓██▒   ███     ▒██    ▒██  ▒██▒█  █▓██   ▒███▒  █████  █▓██     ▒██   ███▒
                                    █
                                    █
                                    █

                                      █
                               █
                               █
        ▒███▒   ███    ▓██▒  █████  ███     ███   █▒██▒  ▒███▒
        █▒ ░█  ▓▓ ▒█  ▓█  ▓    █      █    █▓ ▓█  █▓ ▒█  █▒ ░█
        █▒░    █   █  █░       █      █    █   █  █   █  █▒░
        ░███▒  █████  █        █      █    █   █  █   █  ░███▒
           ▒█  █      █░       █      █    █   █  █   █     ▒█
        █░ ▒█  ▓▓  █  ▓█  ▓    █░     █    █▓ ▓█  █   █  █░ ▒█
        ▒███▒   ███▒   ▓██▒    ▒██  █████   ███   █   █  ▒███▒
*/

div.collapsible.section > div.inside
{
  height: 0;
  padding: 0;
  opacity: 0;
  overflow: auto;

  -webkit-transition: opacity 0.2s ease-in-out;
     -moz-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
       -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}

div.collapsible.section:target h1 {
 background-color: rgba(255, 255, 255, 0.7);
}

div.collapsible.section:target > div.inside
{
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
     -moz-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
       -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}

div.collapsible.section h1 {

  background-color: rgba(255, 255, 255, 0.4);

  padding: 0.5em;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;


  color: #000;
  font-size: 1.2em;

  border: 1px solid #777777;
  border-radius: 4px;
}

div.collapsible.section.playername h1 {

  height: 2em;
  font-size: 2.5em;

  background-position: left center;
  background-repeat: no-repeat;
  margin-left: 2px;
}

div.collapsible.section h1:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

div.collapsible.section h1:active {
  padding-left: 0.55em;
  padding-top: 0.55em;
  padding-right: 0.45em;
  padding-bottom: 0.45em;
  background-color: rgba(255, 255, 255, 0.95);
}

#playerinventory span.item {
  background: url('/images/items.png');
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  position: relative;
}

#playerinventory span.item > span.amount {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-weight: bold;
}

#playerinventory span.item > div.damage {
  background: black;
  height: 4px;
  width: 22px;
  bottom: 1px;
  left: 1px;
  position: absolute;
}

#playerinventory span.item > div.damage > div {
  background: #00FF00;
  height: 2px;
  width: 20px;
}

#playerinventory tr.line3 > td {
  border: 0.3em solid gray;
  padding: 0px;
}

#playerinventory td.enchanted {
  background: url('/images/enchanted.gif') center center;
}

#playerinventory div.inventory {
  width: 305px;
  margin: auto;
}
/*
 * http://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas
 * attempt nearest neighbour in every browser, for pixel goodness
 */
.pixels
{
  image-rendering: optimizeSpeed;             // Older versions of FF
  image-rendering: -moz-crisp-edges;          // FF 6.0+
  image-rendering: -webkit-optimize-contrast; // Webkit
                                              //  (Safari now, Chrome soon)
  image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
  image-rendering: optimize-contrast;         // Possible future browsers.
  -ms-interpolation-mode: nearest-neighbor;   // IE
}

span.badges {
  width: 50%;
  float:right;
}

span.badge {
  display: block;
  width: 24px;
  height: 24px;
  float: right;
  margin-left: 2px;
}

span.badge2 {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
}

span.badge-premium {
  background-image: url(/images/icons/badge_premium.png);
}

span.badge-donor {
  background-image: url(/images/icons/badge_donor.png);
}

span.badge-contributor {
  background-image: url(/images/icons/badge_contributor.png);
}

span.badge-administrator {
  background-image: url(/images/icons/badge_administrator.png);
}

span.badge-operator {
  background-image: url(/images/icons/badge_operator.png);
}

span.badge-member {
  background-image: url(/images/icons/badge_member.png);
}

span.badge-deactivated {
  background-image: url(/images/icons/badge_deactivated.png);
}

ul.navigation {
 font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
 font-variant: small-caps;
}

ul.navigation li {
  display: inline-block;
  width: 1.4em;
  color: #FFF;
  margin-bottom: 0 !important;
}

ul.navigation li.short {
  width: 1em;
}

ul.navigation li.current {
  color: #444;
}

td.nav {
  color: #000;
  text-align: center !important;
  height: 3em;
  vertical-align: middle;
  padding: 0 !important;
}


/*
 * "Online" Green Light
 */
span.online {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 5px;
}

span.no-margin-left {
  margin-left: 0px !important;
}

table.admin span.name-label {
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 115px;
}

a[data-online='true'] span.online {
  background-color: #45FF54;
  display: inline-block;
}

a:not([data-online='true']) span.online {
  display: none;
}